.bloop
.bsp
.idea
.metals
target
src/main/scala/scala.iml
.floo
.flooignore
bak/RList.scala
bak/SList.scala
bak/ZList.scala
src/main/.DS_Store
src/main/main.iml
src/main/scala/batch/Demo.scala
src/main/scala/net/imadz/fp/workshop/ListDemo.scala
src/main/scala/net/imadz/fp/workshop/RList.scala
src/main/scala/net/imadz/fp/workshop/ZList.scala
src/main/scala/sparkle/meta/Container.scala
src/main/scala/sparkle/meta/Flavor.scala
src/main/scala/sparkle/meta/package.scala
src/main/scala/sparkle/meta/Typed.scala
src/test/scala/net/imadz/RangeTest.scala
src/test/scala/net/imadz/TicTacToeTest.scala
